In [2]:
import pandas as pd
import yfinance as yf
import pandas_datareader as pdr
import numpy as np
import matplotlib.pyplot as mplt
import seaborn as sn
import datetime
import streamlit as st
import os
import plotly.express as px
import plotly.colors as pcolors
import plotly.graph_objects as go
from scipy.optimize import minimize

In [ ]:
os.getcwd()
os.chdir('C:/Users/Computadores Gamer/OneDrive/Área de Trabalho/python')

In [6]:
tickers_numero = pd.read_csv('tickers_segmentos_correcao.csv', sep=';')
tickers_numero.head(5)

  LISTAGEM ticker_numero
0     RRRP         MGLU3
1     CSAN         PETR4
2     ENAT         HAPV3
3     RPMG         AMER3
4     PETR         CMIG4

In [ ]:
# for i in tickers_numero['LISTAGEM']:
#     for j in tickers_numero['ticker_numero']:
#         if i[:4] ==

In [7]:
a = 'teste'

In [8]:
acoes = pd.read_csv('https://raw.githubusercontent.com/jrodrigotico/python/projeto_acoes/acoes_segmento.csv', sep=';')[['SEGMENTO', 'LISTAGEM']]
acoes = acoes.loc[(acoes['LISTAGEM'] != 'CÓDIGO') & (acoes['LISTAGEM'].notna())].iloc[:,range(0,2)]
acoes

                              SEGMENTO LISTAGEM
0    Exploração, Refino e Distribuição     RRRP
1    Exploração, Refino e Distribuição     CSAN
2    Exploração, Refino e Distribuição     ENAT
3    Exploração, Refino e Distribuição     RPMG
4    Exploração, Refino e Distribuição     PETR
..                                 ...      ...
445                             Outros     PPAR
446                             Outros     PRPT
447                             Outros     OPSE
448                             Outros     OPTS
449                             Outros     YBRA

[450 rows x 2 columns]